h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(84, 205, 84);
    padding-left: 95px;
    border-radius: 20px;
    margin: auto;
    
}

div {
    border: 2px solid #123618;
    border-radius: 20px;
    padding: 20px;
    
}

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 200px;
    margin-top: 2px;
    
}

#validate:hover{
    background-color: #2cb529;
    color: #fff; 
    border: none;
    border-radius: 5px;
    padding: 3px 10px; 
    margin-right: 1px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#resetar:hover {
    background-color: #dc3545; 
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 3px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

